/* ======= Base ======= */
body {
  font-family: 'Lato', arial, sans-serif;
  color: #434343;
  background: #dae3e7 url('../images/bg.png') no-repeat center 0;
  background-size: cover;
  background-attachment: local;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #778492;
}
.per-item img:hover{
    opacity: .8;
}
a {
  color: #333;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
a:hover {
  text-decoration: underline;
  color: #f4645f;
}

.label {
    font-size: 90%;
}
.btn {
  border-radius: 2px;
  border: 1px solid #f4645f;
  background: #f4645f;
  color: #fff;
  font-family: 'Montserrat', arial, sans-serif;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.btn:hover {
    background: #1a1a1a;
    color: #efefef;
    border: 1px solid #1a1a1a;
}
nav.navbar .navbar-header .navbar-brand {
    margin-top: 6px;
}
nav.navbar.bootsnav ul.nav > li > a:hover{
    color: #f4645f;
}
.location i {
    color: #f4645f;
}

/* 返回顶部 */
.back-to-top{
    display: block;
    width: 51px;
    height: 51px;
    background: url('../images/backtotop.gif') 0 0;
}
.back-to-top:hover{
    background-position: 0 51px;
}

/* Banner */
.banner {
  padding: 30px 0;
  background: url('../images/banner.jpg');
  background-size: cover;
  /*border-top: 1px solid #111;*/
}
.banner .btn {
  margin-top: 60px;
  font-weight: bold;
}
.banner .profile-image {
  margin-right: 30px;
}
.banner .profile-content .name {
  color: #eee;
  font-size: 38px;
  margin-bottom: 5px;
  margin-top: 30px;
}
.banner .profile-content .desc {
  color: #eee;
  font-family: "Lato", arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 15px;
}
.banner .profile-content .social a {
  background: transparent;
  width: 36px;
  height: 36px;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #fff;
  text-align: center;
}
.banner .profile-content .social a:hover {
  background: #111;
}
.banner .profile-content .social a .fa {
  font-size: 20px;
  padding-top: 8px;
}
.thumbnail{
    border: none;
}
.thumbnail img, img.thumbnail{
    border: none;
    border-radius: 2px;
}
/* ======= section 块 开始======= */
.sections-wrapper {
  padding-top: 30px;
  padding-bottom: 60px;
}
.section {
  margin-bottom: 30px;
}
.section .section-inner {
  background: rgba(255, 255, 255, .6);
  padding: 30px;
}
.section .heading {
  margin-top: 0;
  margin-bottom: 30px;
  color: #545e69;
  font-size: 24px;
}
.section .content{
    padding-bottom: 30px;
}
.section .content:last-child{
    padding-bottom: 0;
}
.section .content .title {
    margin-top: 0;
    margin-bottom: 12px;
    color: #f4645f;
    font-size: 18px;
}
.section .content .title  a{
    color: #f4645f;
}
.section .content .per-item{
    padding-bottom: 30px;
}
.section .content .postSummary{
    position:relative;
    line-height:1.6em;
    height: 4.8em;
    overflow:hidden;
}
.section .content .postDesc{
    font-size: 13px;
    color: #888;
}
.section .content .postDesc span{
    padding-right: 10px;
}

.section .content .readMore{
    font-size: 13px;
    padding-right: 15px;
}
/* ======= section 块 结束======= */

/* 分页 */
// .page ul{
//     margin: 0;
//     float: right;
  // }
// .page li a{
//     color: #111;
//     background-color: #fff;
//     border: 1px solid #f4645f;
// }
// .page li a:hover{
//     color: #555;
//     background-color: #fff;
//     border: 1px solid #ffc1bf;
// }
// .pagination>.active>a,
// .pagination>.active>span,
// .pagination>.active>a:hover,
// .pagination>.active>span:hover,
// .pagination>.active>a:focus,
// .pagination>.active>span:focus {
//     background: #f4645f;
//     border-color: #f4645f;
// }

/* 侧边栏 aside */
.aside .heading{
    position: relative;
    font-size: 16px;
    margin-bottom: 15px;
}
.aside .heading::after{
    content: "";
    width: 80px;
    height: 1px;
    background: #f4645f;
    position: absolute;
    left: 0;
    bottom: -1px;
}
.aside .content{
    padding-bottom: 0;
}
.aside .content li{
    padding-left: 5px;
    line-height: 2;
    font-size: 14px;
    color: #f4645f;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ======= Footer ======= */
.footer {
    padding: 10px 0;
    background: #252525;
    color: #ccc;
    font-size: 13px;
    line-height: 1.6;
}
.footer .copyright h4{
    color: #ccc;
}
.footer a {
  color: #fff;
}
/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .banner {
    text-align: center;
  }
  .banner .profile-image {
    float: none !important;
    margin: 0 auto;
  }
  .banner .profile-content {
    float: none !important;
    text-align: center;
  }
  .banner .btn {
    margin-top: 30px;
    float: none !important;
  }
  .project-image {
    margin-bottom: 15px;
  }
}
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/* Ex-Large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) {
  .container {
    width: 1360px;
  }
}
